
<% if gemindex.length.nonzero? %>
	<h2>Released Gems</h2>

	<table id="released-gemindex" class="gemindex">
		<thead>
			<tr>
				<th class="odd">Name</th>
				<th class="even">Version</th>
				<th class="odd">Description</th>
			</tr>
		</thead>

		<tbody>
		<% gemindex.latest_specs.each_with_index do |gemspec, i| %>
		<% if (i % 2).nonzero? %>
			<tr class="odd">
		<% else %>
			<tr class="even">
		<% end %>
				<td class="gem-name odd">
					<a href="/details/<%= gemspec.name %>"><%= h gemspec.name %></a>
				</td>
				<td class="gem-version even"><%= gemspec.version %></td>
				<td class="gem-description odd"><%= gemspec.summary %></td>
			</tr>
		<% end %>
		</tbody>
	</table>

<% else %>

  <p>No gems are published.</p>

<% end %>

<section id="dropzone">
	<img src="/images/upload-arrow.png" width="256" height="256" alt="Upload!" />
</section>

<section id="upload">
	<form action="/upload" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
		<label for="gem-upload-field">Upload Gems</label>
		<input type="file" multiple="true" name="gem" value="" id="gem-upload-field" />

		<input type="submit" value="Upload &rarr;" id="gem-upload-button" />
	</form>

	<div id="upload-progress">
	</div>
</section>

