
<% if gemindex.length.nonzero? %>
  <h2>Released Gems</h2>

  <table id="released-gemindex" class="gemindex">
    <thead>
      <tr>
        <th class="odd">Name</th>
        <th class="even">Version</th>
        <th class="odd">Description</th>
      </tr>
    </thead>

    <tbody>
    <% gemindex.latest_specs.each_with_index do |gemspec, i| %>
    <% if (i % 2).nonzero? %>
      <tr class="odd">
    <% else %>
      <tr class="even">
    <% end %>
        <td class="gem-name odd">
          <a href="/details/<%= gemspec.name %>"><%= h gemspec.name %></a>
        </td>
        <td class="gem-version even"><%= gemspec.version %></td>
        <td class="gem-description odd"><%= gemspec.summary %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <p>To upload more, drag .gem files into this window.</p>
<% else %>

  <p>No gems are published. To upload some, drag .gem files into this window.</p>

<% end %>

