/* @override 
	http://localhost:9292/css/master.css
	http://localhost:9392/css/master.css
*/

/*
 *	Gemserver Stylesheet
 *  
 *	Authors:
 *  * Michael Granger <ged@FaerieMUD.org>
 *
 */

@import url(overcast/jquery-ui-1.8.9.custom.css);

/* @group Entity styles */

html {
	font: 14px/1.4em "Helvetica Neue", Verdana, sans-serif;
	margin: 0;
	padding: 0;
	text-align: left;
	line-height: 1.5em;
	border-left: 2px solid #908558;
	min-height: 100%;
}

body {
	background: #f0f0f2;
	background-image: -webkit-gradient(radial, 
		50% 0, 625, 
		50% 15%, 50, 
		from(#A8A8A9), to(#ddd));
	background-image: -moz-radial-gradient(
		top, farthest-side, 
		#ddd, #A8A8A9);
	margin: 0;
	min-width: 420px;
	padding: 4em 2em;
}

h1, h2, h3 {
	margin: 0;
}

a {
	color: #3f6217;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted;
}

th a {
	color: inherit;
}

a:visited {
	color: #3a3a2b;
}

a:hover {
	border-bottom: 1px solid;
}

a:hover img {
	border: 0;
}

img {
	border: 0;
}

table caption {
	margin: 15px 5px 0;
	font-size: 10px;
	padding: 5px 0 2px;
}

table {
	border-collapse: collapse;
	margin: 1em 0;
	-webkit-box-shadow: 1px 1px 5px rgba(25,25,25,0.7);
	-moz-box-shadow: 1px 1px 5px #333;
	background-color: #ccc;
}

table thead,
table tbody {
	border: 1px solid #c1c1c1;
}

table thead {
	background-image: -webkit-gradient(linear, 0 0, 0 100%, 
		from(#ccc),
		to(#ddd));
	background-image: -moz-linear-gradient( top, farthest-side, 
		#ccc,
		#ddd);
}

table th {
	vertical-align: bottom;
	text-align: center;
}

table.horizontal tbody th {
	vertical-align: top;
	text-align: right;
}

table td {
	padding: 2px 0.5em;
	vertical-align: top;
	text-align: left;
}

table td.numeric {
	text-align: right;
}

table td.icon {
	vertical-align: top;
	text-align: center;
}

table td.icon img {
	margin: 0 auto;
}

table th {
	padding: 1px 0.5em;
}

table th.odd {
	background-color: #f6f6f6;
}

table th.even {
	background-color: #e5e5e5;
}

table tr.even th.odd {
	background-color: #ddd;
}

table tr.odd {
	background-color: #f6ecbf;
}

table tr.odd td.even {
	background-color: #e6ddb2;
}

table tr.even {
	background-color: #decda8;
}

table tr.even td.even {
	background-color: #c8b897;
}

#main dl, #main dt, #main dd {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
}

#main dl.metadata {
	display: inline;
	width: 50%;
}

#main dl dt {
	float: left;
	clear: left;
	width: 20%;
	font-weight: bold;
}

#main dl dd {
	float: left;
	width: 65%;
	padding-left: 2em;
}

/* @end */

/* @group Specific page elements */

body > header {
	display: block;
	width: 100%;
	position: relative;
	z-index: -5;
}

body > header h1 {
	text-align: center;
	margin: 0 auto;
	font-size: 120px;
	color: rgba( 25,25,25, 0.15 );
	text-shadow: 0 0 15px rgba( 25,25,25, 0.4 );
}

body > header h2 {
	font-size: 50px;
	width: 100%;
	text-align: center;
	color: #eee;
	text-shadow: 0 0 3px rgba( 25,25,25, 0.5 );
	position: absolute;
	top: 25px;
}

body > nav {
	position: absolute;
	right: 4em;
	top: 1em;
}

body > nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

body > footer {
	font-size: 0.8em;
	margin: 0;
	position: absolute;
	bottom: 1em;
	width: 95%;
}

body > footer p {
	margin: 0;
}

section#main {
	margin-top: 40px;
	text-align: center;
}

section#main p {
	color: #333;
	font-size: 18px;
}

section#main table {
	margin: 5px auto 25px;
}

section#upload {
	padding: 1em;
	text-align: left;
	width: 60%;
	margin: 5px auto;
	background: #999;
	border-radius: 1em
}

section#upload label {
	color: #666;
	font-size: 1.2em;
	padding: 0 0.5em;
}
section#upload input[type=file] {
	background: #eee;
	border-radius: 1em;
	width: 60%;
}

section#upload input[type=submit] {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.4);

	color: rgba(0,0,0,0.9);
	text-shadow: 1px 1px 0px rgba(255,255,255,0.8);
	border: 1px solid rgba(0,0,0,0.5);
	
	background: -webkit-gradient( linear,
		0% 0%,
		0% 100%,
		from(rgba(255,255,255,1)),
		to(rgba(185,185,185,1))
	);
	background: -moz-linear-gradient( top,
		rgba(255,255,255,1),
		rgba(185,185,185,1)
	);

}

section#upload input[type=submit]:hover {
	background:rgba(240,240,240,1);
	background: -webkit-gradient( linear,
		0% 0%,
		0% 100%,
		from(rgba(255,255,255,1)),
		to(rgba(210,210,210,1))
	);
	background: -moz-linear-gradient( top,
		rgba(255,255,255,1),
		rgba(210,210,210,1)
	);
}

button:active, button:focus {
	background: -webkit-gradient( linear,
		0% 100%, 
		0% 0%,
		from(rgba(255,255,255,1)),
		to(rgba(185,185,185,1))
	);
	background: -moz-linear-gradient( bottom,
		rgba(255,255,255,1),
		rgba(185,185,185,1)
	);
}

button:disabled {
	color:rgba(0,0,0,0.4);
	text-shadow:1px 1px 0px rgba(255,255,255,0.5);
	background:rgba(220,220,220,1);
}

section#upload.targeted {
	display: block;
}

section#upload.uploading {
	display: block;
}

#dropzone {
	display: none;
	position: absolute;
	top: 35%;
	left: 35%%;
	opacity: 0.5;
	border: 3px dashed rgba( 85,85,85, 0.4 );
	border-radius: 35px;
	-moz-border-radius: 35px;
	background: rgba( 25,25,25, 0.15 );
	background-image: -webkit-gradient(radial, 
		50% 0, 75, 
		150 100, 350, 
		from(rgba(25,25,25, 0.15)), 
		to(rgba(25,25,25, 0.25)));
	background-image: -moz-radial-gradient(
		top, 
		farthest-side, 
		rgba(25,25,25, 0.15), 
		rgba(25,25,25, 0.25));
}

#dropzone.targeted {
	opacity: 1.0;
}

#dropzone.uploading {
	display: none;
}

section#upload .progress-bar {
	color: white;
	text-shadow: 0px 0px 2px #333;
	position: relative;
	font-size: 10px;
	vertical-align: top;
	width: 300px;
	height: 14px;
	background-color: rgba(240, 240, 240, 0.9);
	margin: 2px auto;
	border: 1px solid #999;
	-webkit-box-shadow: 1px 1px 3px rgba( 25,25,25, 0.5 );
}

.progress-bar-progress {
	background-color: #6c8c22;
	background-image: -webkit-gradient( linear, 0 0, 0 100%,
		color-stop( 0.0, rgba(255,255,255, 0.25) ),
		color-stop( 0.4, rgba(  0,  0,  0, 0.35) ),
		color-stop( 1.0, rgba(255,255,255, 0.15) )
	 );
	background-image: -moz-linear-gradient( -90deg,
		rgba(255,255,255, 0.15),
		rgba(  0,  0,  0, 0.35) 40%,
		rgba(255,255,255, 0.15)
	 );
	width: 0%;
	height: 12px;
	margin: 1px 0px;
}

.progress-bar-filename {
	position: absolute;
	top: -3px;
	left: 1em;
}

.progress-bar-percent {
	position: absolute;
	top: -3px;
	left: 140px;
}

.progress-bar-speed {
	position: absolute;
	top: -3px;
	right: 1em;
}

aside#error-notice {
	position: absolute;
	display: none;
	width: 400px;
	border: 10px solid #666;
	border: 8px solid rgba(82, 82, 82, 0.698);
	-moz-border-radius: 8px;
	border-radius: 8px;
	-webkit-box-shadow: 2px 2px 5px rgba( 55,55,55, 0.8 );
}

aside#error-notice div {
	padding: 10px;
	border: 1px solid rgba(125,0,0, 0.85);
	background-color: #fff;
}

aside#error-notice h2 {
	margin: -11px;
	margin-bottom: 0px;
	color: #fff;
	background-color: #6D84B4;
	padding: 5px 10px;
	border: 1px solid #3B5998;
	font-size: 20px;
}

ul.dependencies {
	margin: 0;
	text-align: left;
	list-style: none;
	padding: 0;
}

ul.dependencies li {
	
}

ul.dependencies li .dep-name {
	padding: 0 0.5em;
	border: 1px solid rgba( 100,100,100, 0.5 );
	border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	background: rgba( 240,240,240, 0.5 );
}

ul.dependencies .dep-details {
	color: #666;
	font-size: 11px;
}

/* @end */

/* @group classed page elements */

footer .vcsrev {
	float: right;
}

footer .name {
	
}

td.gem-description {
	text-align: left;
	max-width: 400px;
}

.graph svg {
	background-color: #e6ddb2;
	background-image: -webkit-gradient(radial, 25% 0, 75, 150 100, 350, from(#e6ddb2), to(#c6bd92));
	border: 1px solid #ccc;
	-webkit-border-radius: 1em;
	-moz-border-radius: 1em;
	margin: 1em 0;
	-webkit-box-shadow: 1px 1px 5px rgba(25,25,25,0.7);
	-moz-box-shadow: 1px 1px 5px #333;
}

/* @end */


